<div class="dist_posts raz photo purchases">
  <div class="photo purchasy_title_img">
    <h2 class="card-text purchasy_title_name"><%= purchase.title %></h2>
    <%= image_tag 'http://searchfoto.ru/img/xDcfBDYAwCADAjeBp4jaoBFtBGiBhfb3f3VUrd8TuhuluSu3xJLxcOIyEEy82TxRS5Rj_6cgKOgs3mEs-.jpg',
      alt: 'Image', class: 'card-img-top photo_post', target: '_blank' %>
  </div>
  <div>
    <% if purchase.category.present? %>
      <%= link_to purchase.category.name, purchases_path(filters: { category_id: purchase.category.id}),
        class: 'purchasy_category card-text ', remote: true %>
    <% end %>
  </div>
  <section class="footer-summary purchases_tags">
    <% if purchase.tags.present? %>
      <%= raw purchase.tags.map(&:name).map {|tag| link_to tag, purchases_path(filters: { tag_id: purchase.taggings.ids}),
        class: 'purchasy_tags', remote: true }.join(' ') %>
    <% end %>
  </section>
  <div class="purchasy_short_description"><%= purchase.short_description[0..180] %></div>
  <div class="purchasy_price">
    <span class="price"><%= number_to_currency(purchase.price, unit: '₴', precision: 0) %></span>
  </div>
</div>
