<nav class="navbar navbar-expand-lg navbar-light shop_navbar">
  <ul class="navbar-nav line">
    <li class="nav-item">
      <a class="navbar_link_text" href="#">Оплата</a>
    </li>
    <li class="nav-item">
      <a class="navbar_link_text" href="#">Доставка</a>
    </li>
  </ul>
  <div class="sign">
    <%= link_to 'Магазин', root_path, class:'sign__word' %>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar_link_text" href="#">Про Нас</a>
    </li>
  </ul>
  <form class="form-inline mt-2 mt-md-0 search">
    <%= form_for(products_path, method: :get, id: 'search-form') do %>
      <%= text_field :search, :query,  id: 'search', data: { autocomplete_source: Product.order(:title).pluck(:title)},
        placeholder: 'Search', class: 'search_background orm-control mr-sm-2',
        required: true, 'aria-label': 'Search', style: 'border-radius: 0.5rem' %>
      <button class="btn btn-outline-success my-2 my-sm-0 bottom_search " type="submit">Search</button>
    <%end %>
  </form>
  <div>
    <%= link_to cart_path(@cart), class:'cart_navbar ' do %>
      <i class="fas fa-shopping-cart"></i>
    <%end %>
    <div id="quantity">
      <div class="quantity_cart">
        <%= @cart.total_quantity_cart if @cart.total_quantity_cart.positive? %>
      </div>
  </div>
  </div>
</nav>