<div class="container " style="padding-left: 10rem; padding-right: 10rem; margin-top: 5rem">
  <%= form_for @category do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Назва категорії' %>
      <%= f.text_area :name , required: true, class: 'form-control raz',
        style: 'border-radius: 1rem; text-align: left' %>
    </div>
    <div class="form-group">
      <%= f.label :parent_id, 'Над-категорія' %>
      <%= f.collection_select :parent_id, Category.where("id != #{@category.id}").order(:name),
        :id, :name, {include_blank: true}, required: true,
        class: 'form-control raz', style: 'width: 50%; text-align: left; overflow-y:auto' %>
    </div>
    <%= f.submit 'Зберегти', class: 'btn btn-sm btn-outline-secondary',
      style: 'border-radius: 1rem; position: relative;
          border: 1px solid black; background-color: #f9f9f9; color: black'%>
  <%end %>
</div>