<div class="dist_posts raz photo products">
  <div class="photo purchasy_title_img">
    <h2 class="card-text purchasy_title_name"><%= product.title %></h2>
    <%= image_tag 'http://searchfoto.ru/img/xDcfBDYAwCADAjeBp4jaoBFtBGiBhfb3f3VUrd8TuhuluSu3xJLxcOIyEEy82TxRS5Rj_6cgKOgs3mEs-.jpg',
      alt: 'Image', class: 'card-img-top photo_post', target: '_blank' %>
  </div>
  <div>
    <% if product.category.present? %>
      <%= link_to product.category.name, products_path(search: { category_id: product.category.id}),
        class: 'purchasy_category card-text ', remote: true %>
    <% end %>
  </div>
  <section class="footer-summary products_tags">
    <% if product.tags.present? %>
      <%= raw product.tags.map {|tag| link_to tag.name, products_path(search: {tag_id: tag.id}),
        class: 'purchasy_tags', remote: true}.join(' ') %>
    <% end %>
  </section>
  <div class="purchasy_short_description"><%= product.short_description[0..180] %></div>
  <div class="purchasy_price">
    <span class="price"><%= number_to_currency(product.price, unit: '₴', precision: 0) %></span>
  </div>
  <%= button_to line_items_path(product_id: product), class:'buttom_buy', remote: true  do%>
    <i class="fas fa-shopping-cart"></i>
  <% end %>
</div>
